@import "tailwindcss";

body{
    background: #000;
}

:root{
    color-scheme: dark;
}

.bg-conic-gradient{
    background: conic-gradient(from 225deg, #FFC876, #79FFF7, #9F53FF, #FF98E2, #FFC876);
}